<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manu" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_manu"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo_manu_cercle"
        android:supportsRtl="true"
        android:theme="@style/Theme.Manu"
        android:usesCleartextTraffic="True" >
        <activity
            android:name=".searchmanu"
            android:exported="false" />
        <activity
            android:name=".IndexOR"
            android:exported="false" />
        <activity
            android:name=".Add_manu"
            android:exported="false" />
        <activity
            android:name=".Verif"
            android:exported="false" />
        <activity
            android:name=".IndexVE"
            android:exported="false" />
        <activity
            android:name=".IndexAS"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Splash"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>